* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Chelsea Market", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100lvh;
}
/* Left Side */
.left-side {
    position: relative;
    background-image: url(./images/denis-rayson-unsplash-baby-chick.jpg);
    background-position: center;
    background-size: cover;
    width: 40vw;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    background-color: rgb(0, 0, 0, 0.5);
    top: 150px;
    height: 150px;
}

h1 {
    font-size: 80px;
    color: white;
}

.img-credit {
    position: absolute;
    bottom: 10px;
    left: 175px;
    color: white;
}

.img-credit a {
    color: burlywood;
}

/* Right Side */
.right-side {
    background-color: antiquewhite;
    width: 60vw;
}

.content-top {
    height: 35%;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 50px;
    padding-top: 150px;
    font-size: 22px;
}

.form-area {
    background-color: white;
    height: 35%;
    padding: 25px;
    box-shadow: 0px 5px 10px -8px;
}

.form-left {
    position: relative;
}

.form-area p {
    text-align: center;
    padding-top: 20px;
}

h2 {
    padding: 20px;
    margin-left: 25px;
}

.content-bottom {
    padding: 50px;
    height: 30%;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.form-container input {
    font-size: 16px;
    padding: 5px;
}

.label {
    font-size: 18px;
    display: block;
}

.field {
    margin-bottom: 25px;
    width: 25vw;
    border: 2px solid olivedrab;
    border-radius: 8px;
}

.field:focus {
    border: 2px solid olivedrab;
    background-color: rgb(107, 142, 35, 0.5);
}

.error, .error:hover .error:focus {
    background-color: rgb(233, 53, 53, 0.5);
    border: rgb(233, 53, 53, 0.5);
}

.passmatch::after {
    position: absolute;
    content: '* Passwords do not match';
    color: red;
    font-size: 12px;
    bottom: 10px;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid olivedrab;
    font-size: 18px;
    background-color: olivedrab;
    color: white;
    font-weight: bold;
    box-shadow: 10px 1px 27px -8px rgba(0,0,0,0.75);
    margin: 15px;
    width: 250px;
    height: 50px;
}

button:hover {
    background-color: rgb(107, 142, 35, 0.5);
    transform: scale(0.95);
}

.content-bottom p {
    margin-top: 25px;
    margin-left: 15px;
}